.sy-head-blur{
	background-color: #eee !important;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}

html,body{
	font-family: Roboto
}

#rside{
	display: none !important;
}
.caption{
	display: none !important;
}

/* .toctree-wrapper{
	display: none !important;
} */

pre{
	text-shadow:none !important;
	font-family: 'Courier New', Courier, monospace !important;
}
code{
	text-shadow: none !important;
	font-weight: 100 !important;
}